asgiref==3.11.1
black==26.5.1
cairocffi==1.7.1
CairoSVG==2.9.0
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
click==8.4.1
crispy-bootstrap5==2025.6
cssselect2==0.9.0
defusedxml==0.7.1
Django==5.2.6
django-crispy-forms==2.4
django-filter==25.2
django-widget-tweaks==1.5.0
docopt==0.6.2
idna==3.18
iniconfig==2.3.0
mypy_extensions==1.1.0
packaging==26.2
pathspec==1.1.1
pillow==11.3.0
pipreqs==0.4.13
platformdirs==4.10.0
pluggy==1.6.0
psycopg2-binary==2.9.10
pycparser==3.0
Pygments==2.20.0
pytest==9.1.0
pytest-django==4.12.0
python-dotenv==1.1.1
pytokens==0.4.1
qrcode==8.2
requests==2.34.2
sqlparse==0.5.5
tinycss2==1.5.1
urllib3==2.7.0
webencodings==0.5.1
yarg==0.1.10
